<nav class="nav flex-column">
    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">Users</NavLink>
    <NavLink class="nav-link text-white" href="matches">Matches</NavLink>
    <NavLink class="nav-link text-white" href="festivals">Festivals</NavLink>
</nav>
